body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.joystick{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}
.joystick-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}